<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile-1.3.1.min.css" />
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mobile-1.3.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/new_sight.js"></script>
    <style>
      form input, form select { font-size: 150%; }
      ul { list-style: none; padding: 0; margin: 0; }
      ul li { padding: 0; margin: 0; }
    </style>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
      {% for fieldset in form.fieldsets %}
      <fieldset class="{{ fieldset.classes }}">
	{% if fieldset.legend %}
	<legend>{{ fieldset.legend }}</legend>
	{% endif %}
	{% if fieldset.description %}
	<p class="description">{{ fieldset.description }}</p>
	{% endif %}
	<ul>
	  {% for field in fieldset %}
	  {% if field.is_hidden %}
	  {{ field }}
	  {% else %}
	  <li{{ field.row_attrs }}>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>
      </fieldset>
      {% endfor %}
      <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>
